[flake8]
max-line-length = 100
select = C,E,F,W,B,B950
exclude = .git, */migrations/*,
ignore = E126, E203, E501, W503, E302

[isort]
profile = black
src_paths = core

[coverage:report]
fail_under = 100
omit =
    */migrations/*
    */core/*
show_missing = True
skip_covered = True
