{% extends '_base.html' %}

{% block main_content %}
    <p>
        <a class="btn btn-success btn-sm my-2 mb-lg-0 font-weight-bold" href="/">
            <i class="fa fa-chevron-left mr-2"></i>
            retour
        </a>
    </p>
    {% include "visitors/_form.html" %}
{% endblock main_content %}

{% block ajax_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").prop("disabled", true);

            // When the value of the text area changes...
            $("#id_hour_end_visit").focusout("input", function() {
                // If there's at least one character...
                if ($(this).val().length > 0) {
                    // Enable the button.
                    $("button").prop("disabled", false);
                } else {
                    // Else, disable the button.
                    $("button").prop("disabled", true);
                }
            });
        });
    </script>
{% endblock ajax_javascript %}
