{% extends '_base.html' %}

{% block main_content %}
    
    {% include "visitors/_breadcrumb.html" %}

    <ul class="list-group list-group-flush">
        {% for object in object_visitor_list %}
            <li class="list-group-item px-0">
                <h5 class="text-primary-hover">
                    {{ object.get_fullname|capfirst|safe }}
                </h5>
                <p class="mr-2 font-size-xs">
                    <span class="mr-2 font-size-xs">
                        <i class="fa fa-comments mr-1"></i>
                        {{ object.subject_visit|safe }}
                    </span>
                </p>
                <p class="mr-2 font-size-xs">
                    <span class="mr-2 font-size-xs">
                        <i class="fa fa-envelope mr-1"></i>
                        {{ object.email|safe }}
                    </span>
                    <span class="mr-2 font-size-xs">
                        <i class="fa fa-phone mr-1"></i>
                        {{ object.phone }}
                    </span>
                </p>
                <p class="mr-2 font-size-xs">
                    <span class="mr-2 font-size-xs">
                        <i class="fa fa-calendar mr-1"></i>
                        {{ object.created_at|date }}
                    </span>
                    <span class="mr-2 font-size-xs">
                        <i class="fa fa-clock mr-1"></i>
                        {{ object.hour_start_visit }} - {{ object.hour_end_visit }}
                    </span>
                </p>
            </li>
        {% empty %}
            <p>Aucun visiteur pour le moment</p>
        {% endfor %}

        {% include "visitors/_paginate.html" %}
    </ul>
{% endblock main_content %}
