<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static compress %}
        {% get_static_prefix as STATIC_PREFIX %}
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/theme.min.css">
        {% endcompress %}

        <title>
            {% if page_title %}
                {{ page_title|capfirst }} &smid;
                {% if app_name %}  
                  {{ app_name|upper }} &smid;
                {% endif %}
            {% endif %}
                Marketing Expert
        </title>
    </head>

    <body>
        <main class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center no-gutters min-vh-100 mb-2">

                <div class="col-xl-7 col-lg-7 py-5 py-xl-0">
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="d-lg-flex justify-content-between align-items-center align-middle mb-3">
                        <a href="/">
                            <img width="180" class="img-fluid" src="{{ STATIC_PREFIX }}img/logo.png" alt="{{ page_title }}">
                        </a>

                        {% if request.user.is_authenticated %}

                            {% if app_name %}
                                <span class="text-uppercase font-weight-bold">app {{ app_name }}
                                </span>
                            {% endif %}

                            {% url 'logout' as logout_url %}
                            <a href="{{ logout_url }}" class="btn btn-sm btn-danger font-weight-bold text-white text-uppercase p-1">
                                se deconnecter <i class="fa fa-sign-out-alt ml-2"></i>
                            </a>
                        {% endif %}
                    </div>

                    {% block main_content %}
                    {% endblock main_content %}

                    <p class="font-weight-bold text-center mt-5">
                        &copy; {% now 'Y' %} &smid; build by Marketing Expert
                    </p>
                </div>
            </div>
		</main>

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.bundle.min.js"></script>
        {% endcompress %}

        {% block ajax_javascript %}

        {% endblock ajax_javascript %}
    </body>
</html>
